In [ ]:
x=int(input('enter a number'))
y=int(input('enter a number'))

enter a number10
enter a number10

In [ ]:
print(x+y)

20

In [ ]:
int(x)+int(y)

300010

In [ ]:
x+y

300010

In [ ]:
P=int(input('principle amt'))
N=int(input('enter the time'))
R=int(input('enter the rate'))
x=P*N*R/100
print(x)

principle amt10000
enter the time2
enter the rate5
1000.0

In [ ]:
x=int(input('enter your mark'))

enter your mark10

In [ ]:
if x>50 :
  print('You have passed')
if x<50 :
  print('You have not passed')

You have passed

In [36]:
x=int(input("enter your salary"))

enter your salary600000

In [37]:
if x<250000 :
  print('you are not taxable')
if 250000<x<500000:
  print('you are taxable')  
if x>500000:
  print('you are high on tax')

you are high on tax

In [38]:
t=10/100
tax=x*t
print(tax)

60000.0